{{ define "extensions" }}
<br>
<table class=dtable>
<tr>
<th>{{.Title}}</th>
<th>User name</th>
<th>Host</th>
<th>Context</th>
</tr>
{{ $FileName := .FileName}}
{{ range .Nodes}}
<tr>
<td><a href='EditNode?filename={{$FileName}}&nodename={{.NodeName}}'>
{{.NodeName}}</a></td>
<td>{{.Username }}</td>
<td>{{.Host }}</td>
<td>{{.Context }}</td>
</tr>
{{end}}
</table>
{{end}}
{{ template "header" . }}
<br>
{{if ne .Pre "" }}
{{.FileName}}
<br>
<pre>
{{.Pre}}
</pre>
<br>
{{end}}
{{ if not .DisplayAdd }}
{{ if .IsExten }}
<a href='Extensions?file={{.FileName}}&add=1' class=linkbutton>Add new SIP Extension</a>
{{else}}
<a href='Extensions?file={{.FileName}}&add=2&type=trunk' class='linkbutton'>Add new SIP Trunk</a>
{{end}}
{{else}}
<!--display add node-->
<table class=dtable><tr><td>
<h3>Add new SIP {{.Title}}</h3>
<form method=POST action='Extensions?type={{.Type}}'>
<input type=hidden name=file value='{{.FileName}}' />
<table dtable><tr>
<td><input type=checkbox name=preview value=1 /></td>
<td>Preview only (Don't create extension)</td></tr>

<td>{{.Title}}</td>
<td><input type=text name=nodename /></td></tr>

<td>User name</td>
<td><input type=text name=username /></td></tr>

<td>type</td>
<td><input type=text name=siptype value=peer /></td></tr>

<td>host</td>
<td><input type=text name=host value=dynamic /></td></tr>

<td>context</td>
<td><input type=text name=context /></td></tr>

<td>Secret</td>
<td><input type=text name=secret /></td></tr>

<td>additional properties<br/>
<font color=gray>name=value</font></td>
<td><textarea rows = 5 cols=40 name=additional />{{if eq .Type "trunk" }}trunk=yes{{end}}
qualify=yes
nat=force_rport,comedia
</textarea></td></tr>

<tr><td><input type=submit name=addnode value='Add {{.Title}}' class='button' /></td></tr>
</table>
</form>
</td><td>
{{end}}
{{ template "extensions" .}}
{{if .DisplayAdd}}
</td></tr></table>
{{end}}
{{ template "footer" . }}