{{ template "header" . }}
<br>
<h2>AMI Configurations</h2>
{{ if .Connected }}
{{ if .Success }}
{{ if .IsAdmin}}
<h4>AMI Users</h4><a href='AMIConfig?adf=yes'>Add New User</a>
{{end}}
<table style=margin-top:10px class=dtable>
<tr>
<th>AMI User</th>
<th>AMI Secret</th>
<th>AMI Read Permission</th>
<th>AMI Write Permission</th>
{{ if .IsAdmin}}
<th>Edit</th>
<th>Default</th>
{{end}}
</tr>
{{ $IsAdmin := .IsAdmin}}
{{ range .Users }}
<tr><td>{{.User}}</td>
<td>{{ index .Spl 1}}</td>
<td>{{ index .Spl 2}}</td>
<td>{{ index .Spl 3}}</td>
{{ if $IsAdmin}}
<td><a href="AMIConfig?edf={{index .Spl 0}}">Edit</a></td>
<td>
{{ if .Default}}
Default
{{else}}
<a href="AMIConfig?def=[{{.User}}]">Set Default</a>
{{end}}
{{end}}
</td>
</tr>
{{end}}
</table><hr/>
{{else if .IsAdmin}}
<p class="infomessage">There is no AMI User <a href="AMIConfig?adf=yes">Add AMI User</a></p>
{{end}}
<h4>AMI Status</h4>
{{ if .Ami}}
<p style=margin-left:20px >AMI Status:<span class=infomessage> OK </span></p>
{{else}}
<p style=margin-left:20px >AMI Status:<span class=errormessage> AMI or AMI over Http is disabled </span></p>
{{end}}
{{ if .Http}}
<p style=margin-left:20px >Asterisk HTTP Server Status:<span class=infomessage> OK </span></p>
{{else}}
<p style=margin-left:20px >Asterisk HTTP Server Status:<span class=errormessage> Disabled </span></p>
{{end}}
{{end}}
{{ template "footer" . }}