{{ template "header" . }}
<br>
<h2>AMI Configurations</h2>
<h4>Edit {{.User}}</h4>
<form method=POST >
<table>
<tr><td>AMI Username </td><td><input type=text name=user value="{{.User}}"  size=30 required/></td></td>

<tr><td>AMI Secret</td>
<td><input type=passwoed name=sec value="{{ index .Spl 1}} " size=30 required/></td></tr>

<tr><td>AMI Read Permission </td>
<td><input type=text name=read size=30 value="{{ index .Spl 2}}" required/></td></td>

<tr><td>AMI Write Permission</td>
<td><input type=text name=write size=30 value="{{ index .Spl 3 }}" required/></td></tr>
<tr><td>AMI Aditional Configuration:</td>
<td><textarea rows = 5 cols=40 name=addi />
{{index .Spl 4}}
</textarea></td></tr>
<tr><td><input type=submit name=mok value=OK required/></td><td><input type=hidden name=cuser value="{{index .Spl 0}}" required/></td></tr>
</table>
</form>
{{ template "footer" . }}