{{ define "line" }}
<tr>
<td>{{.LineN}}</td>
<td
{{ if ne .Color "" }}
bgcolor='{{.Color}}'
{{end}}
>{{.Line}}
{{ if ne .Span "" }}
<span style='color:{{.SpanColor}}'>{{.Span}}</span>
{{end}}
</td>
</tr>
{{end}}

{{ template "header" . }}
<br><br><br>
<div style=' margin:auto; overflow:hidden;' >
<table width='50%' style='float: left; display: block;' >
<tbody>
<tr> <th> </th>
<th> <h3>{{.Original}}</h3></th> </tr>
{{ range .OrgLines}}
{{ template "line" . }}
{{end}}
</tbody>
</table>
<table width='50%'; style='float: left; display: block';>
<tbody>
<tr><th></th>
<th><h3>{{.BackUp}}</h3></th></tr>
{{ range .BackUpLines}}
{{ template "line" . }}
{{end}}
</tbody>
</table>
</div> <br>
{{ template "footer" . }}