{{ define "footer" }}
	</div>
            </div>
            </div>
            <div class='footer'>
               &copy; Code for computer software 2015-2023
               <img src='/SimpleTrunk/static/img/small-code.png' width=40 />
            </div>
         </body>
       </html>
{{end}}
{{ define "header"}}
<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Simple Trunk Panel</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="Description" lang="en" content="Asterisk SimpleTrunk, GUI admin">
            <meta name="author" content="Code for Computer Software">
            <meta name="robots" content="index, follow">

            <!-- icons -->
            <link rel="apple-touch-icon" href="/SimpleTrunk/static/img/apple-touch-icon.png">
            <link rel='shortcut icon' href='/SimpleTrunk/static/img/icon.png'>

            <!-- Override CSS file - add your own CSS rules -->
            <link rel="stylesheet" href="/SimpleTrunk/static/css/styles.css">
    </head>
    <body>
    <div class=header>
    <div class=container>
            <table ><tr bgcolor=#CFCFCF >
                    <td class=titletd style="color:black;background-color: #DDDDFF; vertical-align:bottom;font-size:30px;">
                        &emsp;Simple Trunk&emsp; </td>
            <td class=titletd><td bgcolor=#DDDDFF style='color:black;vertical-align:bottom;'>
                {{.LogoutText}}&emsp; <a href="Logout">Logout</a></td>
            <td bgcolor=#DDDDFF style='vertical-align:bottom;'><font color=green><b>{{.SelectedPBX.Title}}</b></font></td>
            <td bgcolor=#DDDDFF style='vertical-align:bottom;font-size:12px; color:gray;'>
                Version {{.Version}}
            </td>
                </tr>
          </table>	
                </div>
            	</div>
            	<div class="nav-bar">
            	<div class="container">
            	<ul class="nav"> 
            {{if .ShowPages}}
            {{ $tap := .MainTabs.Selected}}
            {{ range .MainTabs.Tabs }}
            <li><a href={{.Value}}><font 
            {{ if eq .Name $tap }}
            style='color:lime;font-weight: bold;'
            {{ end }}
            >{{.Name}}</font></a></li>
            {{ end }}
            <script>
              function selectPBX(sel) {
             location='SelectPBX?pbx=' + sel.value;  
            }
            </script>
            &emsp;
            <select name="pbx" onchange="selectPBX(this)">
            <option>--Select PBX--</option>
            {{ $selectedPBX := .SelectedPBX.FileName }}
            {{ range .PBXFiles }}
            <option value={{.FileName}}
            {{ if eq $selectedPBX .FileName}}
            selected
            {{end}}
            >{{.Title}}</option>
            {{ end }}
            </select>
            {{end}}
            </div>
            </div>
            </ul>     
            <div class=content>
            <div class=container>
            <div class=main>
            {{ range .Tabs}}
            {{ if ne .Text "" }}
            <br>
            <h2>{{.Text}}</h2>
            {{end}}
            <table><tr bgcolor='#eeeecc'>
            {{ $tab := .Selected }}
            {{ range .Tabs}}
            <td
            {{ if eq .Name $tab }}
            bgcolor="#FFFFcc"
            {{end}}
            ><a href="{{.Value}}">{{.Name}}</a></td>
            {{end}}
            </tr></table>
            {{end}}
            {{ if ne .Message "" }}
            <p class={{.MessageType}}>{{.Message}}</p>
            {{end}}
{{end}}